*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
 
}
:root{
    --main-color:#8e44ad;
    --second-color:#e7d5f0;
    --box-shadow:2px 4px 4px 2px #e7e0eb;
    --border-shapes: 30px solid var(--second-color);
    
}
/* !the ruels style for background shapes */
.container{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.shape-1,
.shape-2
{
    position: absolute;
    width: 200px;
    height: 100px;
    border: var(--border-shapes);
}
.shape-1{
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border-bottom: 0;
    right: 0;
    top: -2.5rem;
    z-index: -1;
 
}
.shape-2{
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border-top: 0;
    right: 10.6rem;
    top: 3.7rem;
    z-index: -1;
   
}
.shape-3{
    width: 400px;
    height: 400px;
    border: var(--border-shapes);
    border-radius: 50%;
    position: absolute;
    left: -10rem;
    bottom: -10rem;
    z-index: -1;
}

/* !the content code is here   */
.content{
    background-color: white;
    max-width: max-content;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:7rem;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
  
}
/* !the form styles is here  */
.form{
    flex: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;

}
.form-content{
    padding: 1.5em;
 
}
.title-form{
    font-size: 1.5rem;
    font-weight: bold;
    width: max-content;
    text-align: center;
    border-bottom: 3px solid #000000;
    margin: .5em auto;
    
}
.form label ,span{
   font-size: .8em;
   font-weight: bold;
   display: flex;
   margin:.5em 0;
}
.form input{
    padding: .5em .8em;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;

}
.form input:focus{
    border: 2px solid var(--main-color);
}
.username{
    display: flex;
}
.F-name{
    margin-right: .5rem;
}
.checkbox ,.checkbox-1 ,.checkbox-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-btn button{
    width: 100%;
    padding: .8em 0;
    margin: 1em 0;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 2px;

}
/* !the form image style */
.form-image{
    flex: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}
.title-content{
    font-size: 1.5em;
    font-weight: bold;
}
.text-content{
    font-size: .9em;
    font-weight: 500;
}
.content-btn button{
    padding: .5em 2em;
    margin: 1.5em 0;
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;

}
button:hover{
    opacity: .8;
}
.image-content{
    display: flex;
    justify-content: center;
    background-image: url(/assets/images/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25rem;
    height: 15rem;
  
}
.image-content2{
    display: flex;
    justify-content: center;
    height: 15rem;

}
.user-icon{
   
    display: flex;
    justify-content: center;

}
.user-icon img{
    width: 100px;
    height: 100px;

}
.error{
   font-size: .6em; 
   color: red;
}
.popup{
    width: 60%;
    height: 320px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50% ,-80%) scale(0);
    transition: transform .4s ,top .4s;
    visibility: hidden;
    text-align: center;
    padding: 30px 30px;
    z-index: 10;
    color: #000000;
}
 .popup .success-icon{
    color: #00ff00;
    font-size: 50px;

}
.popup button{
    width: 100%;
    background: #00ff00;
    padding: 10px 0;
    margin-top: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow:0 0 0 2px rgba(0,0,0,.1);
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.popup a{
    text-decoration: none;
}
.open-popup{
    top: 50%;
    transform: translate(-50% , -50%) scale(1);
    visibility: visible;
}
/* !media queries are here */
@media (max-width:900px){
    .container{
        height: 100%;
    }
  
    .form-content,
    .form-image{
        flex: 100%;
        margin: 5rem;
    }
    .btn{
        flex-direction: column;
    }
    .form{
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
       }

}
@media (max-width:425px){
    .content{
     margin: 2rem;
     padding: 0;
    }
 
}